#character-search {
  padding-bottom: 1rem;

  .form {
    display: flex;
  }

  .input__name {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .select {
    .ant-select-selector {
      border-radius: 0px;
    }
  }
}